<ion-header>
  <ion-toolbar color=primary>
    <ion-title>Agregar Negocio</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Datos</ion-list-header>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Latitud</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Longitud</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select value="Libre" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Libre">Libre</ion-select-option>
        <ion-select-option value="Ocupado">Ocupado</ion-select-option>
        <ion-select-option value="Mantenimiento">Matenimiento</ion-select-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-list-header>Detalles</ion-list-header>
    <ion-item>
      <ion-label position="floating">Capacidad</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Garsones</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo Salon</ion-label>
      <ion-select value="Salon" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="Salon">Salon</ion-select-option>
        <ion-select-option value="AireLibre">Aire Libre</ion-select-option>
      </ion-select>
    </ion-item><br>

    <ion-item>
      <ion-label>Bar</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Escenario</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Garage</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Servicio de Comida</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button color="success" expand="block" click="guardar()">Agregar</ion-button>
</ion-content>