<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Reservar
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>Evento Social</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">

      <ion-item>
        <ion-input type="text" placeholder="Nombre del Evento Social" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Inicio</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fin</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Reservar
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="4" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="4" text-center>
      <div class="textoMes">
        {{ viewTitle }}
      </div>
    </ion-col>

    <ion-col size="4" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)" (onTimeSelected)="onTimeSelected($event)" startHour="6" endHour="20"
    step="30" startingDayWeek="1">
  </calendar>


</ion-content>