<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button #return></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reservar: "{{ nombreNegocio }}""
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="aceptadas" checked>
      <ion-label>Aceptadas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="solicitudes">
      <ion-label>Solicitudes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segmento=='aceptadas'">
    <!-- Card for adding a new event -->
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>Nombre del Evento</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="!collapseCard">

        <ion-item>
          <ion-input type="text" placeholder="Nombre Evento" [(ngModel)]="reserva.evento.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Inicio</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm"
            [(ngModel)]="reserva.evento.startTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Fin</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="reserva.evento.endTime"
            [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="reserva.evento.title == ''">Agregar
          Evento
        </ion-button>

      </ion-card-content>
    </ion-card>

    <ion-row>
      <!-- Change the displayed calendar mode -->
      <ion-col size="4">
        </ion-col>
      <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
          (click)="changeMode('month')">Mes</ion-button>
      </ion-col>
      <ion-col size="4">
      </ion-col>

      <!-- Move back one screen of the slides -->
      <ion-col size="4" text-left>
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4" text-center>
        <div class="textoMes">
          {{ viewTitle }}
        </div>
      </ion-col>


      <!-- Move forward one screen of the slides -->
      <ion-col size="4" text-right>
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" startHour="6" endHour="20" step="30" startingDayWeek="1">
    </calendar>
  </ion-list>

  <ion-list *ngIf="segmento=='solicitudes'">
    <ion-item *ngFor="let item of reservaSolicitud">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-label>Evento: {{ item.evento.title }}</ion-label>
          </ion-col>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-label>Inicio: {{ item.evento.startTime | date:'MM/dd/yyyy h:mm a' }}</ion-label>
          </ion-col>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-label>Fin: {{ item.evento.endTime | date:'MM/dd/yyyy h:mm a' }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="reservaSolicitud==''">
        <p>No hay ninguna solicitud</p>
    </ion-item>
  </ion-list>

</ion-content>