<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="login(form.value)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>BABILON</h3>
          </div><br><br><br><br><br>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Iniciar Sesión</ion-button>
          </div>
          <div padding>
            <ion-item lines="none" slot="end" (click)="Register()">
              Registrarse
            </ion-item>
            <ion-item lines="none" slot="end" (click)="forgot()">
              Recuperar Cuenta
            </ion-item>
          </div>
          <div padding center>
            <ion-item lines="none">
              {{mensaje}}
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>